---
name: "Build Container"

on:
  workflow_call:
    inputs:
      app:
        description: "The name of the app"
        type: string
        default: "${{ github.event.repository.name }}"
        required: false
      context:
        description: "The folder to build in"
        type: string
        default: "."
        required: false
      dockerfile:
        description: "Use to override Dockerfile path"
        type: string
        default: "Dockerfile"
        required: false
      tag:
        description: "Use to set tag, default: rolling"
        type: string
        default: "rolling"
        required: false
      tags:
        description: "Use to set multiple tags, always includes tag, defaults to latest if main branch"
        type: string
        default: "type=raw,value=latest,enable={{is_default_branch}}"
        required: false
      build-args:
        description: "Set build-args, can be multiline string"
        type: string
        default: ""
        required: false
      dry-run:
        description: "Use to disable pushing"
        type: boolean
        default: false
        required: false

jobs:
  build-images:
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
    env:
      DOCKER_USERNAME: "${{ secrets.DOCKER_USERNAME }}"
      QUAY_USERNAME: "${{ secrets.QUAY_USERNAME }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log in to the ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ ! inputs.dry-run }}
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: Log in to the Dockerhub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ ! inputs.dry-run && env.DOCKER_USERNAME != '' }}
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_TOKEN }}"

      - name: Log in to Quay.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ ! inputs.dry-run && env.QUAY_USERNAME != '' }}
        with:
          registry: quay.io
          username: "${{ secrets.QUAY_USERNAME }}"
          password: "${{ secrets.QUAY_TOKEN }}"

      - name: Create list of repositories
        id: repos
        run: |
          echo "repos<<EOF" >> $GITHUB_OUTPUT

          echo "ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}" >> $GITHUB_OUTPUT
          if [ -n "${{ env.DOCKER_USERNAME }}" ]; then
            echo "${{ secrets.DOCKER_USERNAME }}/${{ inputs.app }}" >> $GITHUB_OUTPUT
          fi
          if [ -n "${{ env.QUAY_USERNAME }}" ]; then
            echo "quay.io/${QUAY_USERNAME%+*}/${{ inputs.app }}" >> $GITHUB_OUTPUT
          fi
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Extract org.opencontainers.* labels already set in Dockerfile
        id: labels
        run: |
          echo "labels<<EOF" >> $GITHUB_OUTPUT
          grep 'org.opencontainers.' "${{ inputs.context }}/${{ inputs.dockerfile }}" | sed 's/LABEL//g' | tr -d '\\' | tr -s [:space:] | tr -d '"' >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ steps.repos.outputs.repos }}
          tags: |
            "${{ inputs.tag }}"
            "${{ inputs.tags }}"
          labels: ${{ steps.labels.outputs.labels }}

      - name: Add arch to tags
        id: tags
        env:
          TAGS: "${{ steps.meta.outputs.tags }}"
          ARCH: "${{ matrix.arch }}"
        run: |
          set -ex
          readarray -t tags <<< $(echo -e "${TAGS}")
          echo 'tags<<EOF' >> $GITHUB_OUTPUT
          for tag in "${tags[@]}"; do
            echo "$tag-$ARCH" >> $GITHUB_OUTPUT
          done
          echo 'EOF' >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: "${{ inputs.context }}"
          platforms: "linux/${{ matrix.arch }}"
          file: "${{ inputs.context }}/${{ inputs.dockerfile }}"
          push: ${{ ! inputs.dry-run }}
          tags: "${{ steps.tags.outputs.tags }}"
          labels: "${{ steps.meta.outputs.labels }}"
          build-args: "${{ inputs.build-args }}"
          provenance: false
          sbom: false

  combine-manifests:
    runs-on: ubuntu-latest
    needs:
      - build-images
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      COSIGN_PRIVATE_KEY: "${{ secrets.COSIGN_PRIVATE_KEY }}"
    steps:
      - name: Log in to the ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ ! inputs.dry-run }}
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: Log in to the Dockerhub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ ! inputs.dry-run && env.DOCKER_USERNAME != '' }}
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_TOKEN }}"

      - name: Log in to Quay.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ ! inputs.dry-run && env.QUAY_USERNAME != '' }}
        with:
          registry: quay.io
          username: "${{ secrets.QUAY_USERNAME }}"
          password: "${{ secrets.QUAY_TOKEN }}"

      - name: Install Cosign
        if: ${{ ! inputs.dry-run && env.COSIGN_PRIVATE_KEY != '' }}
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: 'v2.6.1'

      - name: Create list of repositories
        id: repos
        run: |
          echo "repos<<EOF" >> $GITHUB_OUTPUT

          echo "ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}" >> $GITHUB_OUTPUT
          if [ -n "${{ env.DOCKER_USERNAME }}" ]; then
            echo "${{ secrets.DOCKER_USERNAME }}/${{ inputs.app }}" >> $GITHUB_OUTPUT
          fi
          if [ -n "${{ env.QUAY_USERNAME }}" ]; then
            echo "quay.io/${QUAY_USERNAME%+*}/${{ inputs.app }}" >> $GITHUB_OUTPUT
          fi
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ steps.repos.outputs.repos }}
          tags: |
            "${{ inputs.tag }}"
            "${{ inputs.tags }}"

      - name: Combine manifests
        if: ${{ ! inputs.dry-run }}
        env:
          TAGS: "${{ steps.meta.outputs.tags }}"
        run: |
          set -ex
          readarray -t tags <<< $(echo -e "${TAGS}")
          for tag in "${tags[@]}"; do
            docker buildx imagetools create -t "$tag" \
              "$tag-amd64" \
              "$tag-arm64"
          done

      - name: Sign images with Cosign
        if: ${{ ! inputs.dry-run && env.COSIGN_PRIVATE_KEY != '' }}
        env:
          TAGS: "${{ steps.meta.outputs.tags }}"
          COSIGN_PASSWORD: "${{ secrets.COSIGN_PASSWORD }}"
        run: |
          set -ex
          readarray -t tags <<< $(echo -e "${TAGS}")
          for tag in "${tags[@]}"; do
            DIGEST="$(docker buildx imagetools inspect ${tag} | grep Digest: | awk '{print $2}')"
            cosign sign --key env://COSIGN_PRIVATE_KEY --recursive --yes "${tag}@${DIGEST}"
          done
