---
name: "Cargo Release"

on:
  workflow_call:

jobs:
  run-script:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Release crate
        run: |
          echo "${{ secrets.CRATES_IO_API_TOKEN }}" | cargo login
          cargo publish
