---
name: "Cargo Release"

on:
  workflow_call:
    inputs:
      additional-packages:
        description: Additional packages to install
        type: string
        required: false
        default: ""

jobs:
  run-script:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install additional dependencies
        if: ${{ inputs.additional-packages != '' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ inputs.additional-packages }}
        shell: bash

      - name: Release crate
        run: |
          echo "${{ secrets.CRATES_IO_API_TOKEN }}" | cargo login
          cargo publish
