---
name: "Cargo Release"

on:
  workflow_call:
    outputs:
      version:
        description: The version from `Cargo.toml`, prefixed with 'v'
        value: ${{ jobs.extract-version.outputs.version }}

jobs:
  extract-version:
    runs-on: "ubuntu-latest"
    outputs:
      version: ${{ steps.extract-version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Extract version
        id: extract-version
        run: |
          version="v$(yq -r '.package.version' Cargo.toml)"
          echo "version=${version}" >> $GITHUB_OUTPUT
