---
name: "Editorconfig Check"

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main", "renovate/**"]
  pull_request:
    branches: ["main"]
  merge_group:
    branches: ["main"]

jobs:
  check-editorconfig:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run editorconfig-checker
        uses: docker://mstruebing/editorconfig-checker:v3.4.1
        with:
          args: ec --exclude="\.git\/(.*)|vendor\/(.*)"
