---
name: "Editorconfig Check"

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main", "renovate/**"]
  pull_request:
    branches: ["main"]
  merge_group:
    branches: ["main"]

jobs:
  check-editorconfig:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run editorconfig-checker
        uses: docker://mstruebing/editorconfig-checker:v3.6.0
        with:
          args: ec --exclude="\.git\/(.*)|vendor\/(.*)"
