---
name: "Editorconfig Check"

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main", "renovate/**"]
  pull_request:
    branches: ["main"]
  merge_group:
    branches: ["main"]

jobs:
  check-editorconfig:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run editorconfig-checker
        uses: docker://mstruebing/editorconfig-checker:v3.4.1
        with:
          args: ec --exclude="\.git\/(.*)|vendor\/(.*)"
