---
name: "Editorconfig Check"

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main", "renovate/**"]
  pull_request:
    branches: ["main"]
  merge_group:
    branches: ["main"]

jobs:
  check-editorconfig:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run editorconfig-checker
        uses: docker://mstruebing/editorconfig-checker:v3.6.0
        with:
          args: ec --exclude="\.git\/(.*)|vendor\/(.*)"
