---
name: "Golang lint"

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true
      cmd:
        description: The test command to run
        type: string
        required: false
        default: hack/linter.sh

jobs:
  lint:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /home/runner/.cache/golangci-lint
            /home/runner/.cache/go-build
          key: golangci-lint

      - name: Run golangci-lint
        run: ${{ inputs.cmd }}
