---
name: Release

on:
  workflow_call:
    inputs:
      draft:
        description: "Create draft release"
        type: boolean
        default: true
      update:
        description: "Update existing release"
        type: boolean
        default: false

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Extract Version
        id: version
        run: |
          set -ex
          version="$(cat FyneApp.toml | grep Version | grep -P -o "[0-9]+\.[0-9]+\.[0-9]+")"
          echo "version=v${version}" >> $GITHUB_OUTPUT

      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: dist
          merge-multiple: true

      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: ${{ inputs.update }}
          artifacts: "dist/*.tar.gz,dist/*.zip"
          artifactErrorsFailBuild: true
          draft: ${{ inputs.draft }}
          generateReleaseNotes: true
          tag: "${{ steps.version.outputs.version }}"
