---
name: "Golang lint"

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true

jobs:
  lint:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest
          args: --config=.golangci.yml --timeout 300s
          skip-cache: ${{ !inputs.cache }}
