---
name: Gosec

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      args:
        description: Arguments to pass to Gosec, will be added after the ones needed for uploading to CodeQL
        type: string
        required: false
        default: './...'


jobs:
  gosec:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Gosec Security Scanner
        uses: securego/gosec@424fc4cd9c82ea0fd6bee9cd49c2db2c3cc0c93f # v2.22.11
        with:
          args: "-no-fail -fmt sarif -out results.sarif ${{ inputs.args }}"

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        with:
          sarif_file: results.sarif
          category: security
