---
name: Golang build

on:
  workflow_call:
    inputs:
      release:
        description: "Release version"
        type: string
        required: false
        default: "dev"
      goos:
        description: "Target os"
        type: string
        required: false
      goarch:
        description: "Target arch"
        type: string
        required: false
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true
      artifact:
        description: Artifact(s) to upload
        type: string
        required: false
        default: ""
      artifact-name:
        description: The name under which the artifact will be uploaded
        type: string
        required: false
        default: ""
      cmd:
        description: The test command to run
        type: string
        required: false
        default: make

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            /home/runner/.cache/go-build
          key: "go-build-${{ inputs.goos }}-${{ inputs.goarch }}"

      - name: Setup golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Build Artifact
        env:
          RELEASE_VERSION: ${{ inputs.release }}
          GOOS: "${{ inputs.goos }}"
          GOARCH: "${{ inputs.goarch }}"
        run: ${{ inputs.cmd }}

      - name: Upload Artifact
        if: ${{ inputs.artifact != '' && inputs.artifact-name != '' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "${{ inputs.artifact-name }}"
          path: "${{ inputs.artifact }}"
          retention-days: 14
          if-no-files-found: error
