---
name: "Golang test cover report"

on:
  workflow_call:
    inputs:
      script:
        description: The script to run, relative to project root
        type: string
        required: false
        default: hack/coverprofile.sh
      coveralls:
        description: Upload coverprofiles to coveralls.io
        type: boolean
        required: false
        default: false
      coverprofile:
        description: The file containing the coverprofile
        type: string
        required: false
        default: coverprofile.out

jobs:
  generate-reports:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: "${{ steps.app-token.outputs.token }}"
          ref: "main"
          path: "main"

      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Generate reports
        run: |
          ${GITHUB_WORKSPACE}/main/${{ inputs.script }}

      - name: Coveralls
        if: ${{ inputs.coveralls }}
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          file: "main/${{ inputs.coverprofile }}"
          format: "golang"

      - name: Checkout gh-pages
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: "${{ steps.app-token.outputs.token }}"
          ref: "gh-pages"
          path: "gh-pages"

      - name: Copy files to gh-pages
        run: |
          set -e
          cp ${GITHUB_WORKSPACE}/main/coverprofiles/*.html ${GITHUB_WORKSPACE}/gh-pages/

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: |
            Updated go coverprofiles

            Commit: ${{ github.sha }}
          commit_options: "--signoff"
          repository: "./gh-pages"
          commit_user_name: "bot-ahsoka[bot]"
          commit_user_email: "<bot-ahsoka[bot]@users.noreply.github.com>"
          commit_author: "bot-ahsoka[bot] <bot-ahsoka[bot]@users.noreply.github.com>"
          skip_dirty_check: false
          skip_fetch: true
          skip_checkout: true

