---
name: Gosec

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      args:
        description: Arguments to pass to Gosec, will be added after the ones needed for uploading to CodeQL
        type: string
        required: false
        default: './...'


jobs:
  gosec:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run Gosec Security Scanner
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: "-no-fail -fmt sarif -out results.sarif ${{ inputs.args }}"

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4.31.2
        with:
          sarif_file: results.sarif
          category: security
