---
name: Golang fyne build

on:
  workflow_call:
    inputs:
      release:
        description: "Is a release"
        type: boolean
        required: false
        default: false
      goos:
        description: "Target os"
        type: string
        required: true
      goarch:
        description: "Target arch"
        type: string
        required: true
      name:
        description: "Name of the application"
        type: string
        required: true
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            /home/runner/.cache/fyne-cross
            /home/runner/.cache/go-build
          key: "fyne-cross-${{ inputs.goos }}-${{ inputs.goarch }}"

      - name: Setup golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Build Artifact
        env:
          BUILD_RELEASE: ${{ inputs.release }}
        run: hack/fyne-cross.sh "${{ inputs.goos }}" "${{ inputs.goarch }}"

      - name: Get artifact file ending
        id: artifact-file-ending
        run: |
          if [ "${{ inputs.goos }}" == "windows" ]; then
            echo "file-ending=zip" >> $GITHUB_OUTPUT
          elif [ "${{ inputs.goos }}" == "linux" ]; then
            echo "file-ending=tar.gz" >> $GITHUB_OUTPUT
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "${{ inputs.name }}_${{ inputs.goos }}-${{ inputs.goarch }}.${{ steps.artifact-file-ending.outputs.file-ending }}"
          path: "fyne-cross/dist/${{  inputs.name }}_${{ inputs.goos }}-${{ inputs.goarch }}.${{ steps.artifact-file-ending.outputs.file-ending }}"
          retention-days: 14
          if-no-files-found: error
