---
name: Golang fyne build

on:
  workflow_call:
    inputs:
      release:
        description: "Is a release"
        type: boolean
        required: false
        default: false
      goos:
        description: "Target os"
        type: string
        required: true
      goarch:
        description: "Target arch"
        type: string
        required: true
      name:
        description: "Name of the application"
        type: string
        required: true
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /home/runner/.cache/fyne-cross
            /home/runner/.cache/go-build
          key: "fyne-cross-${{ inputs.goos }}-${{ inputs.goarch }}"

      - name: Setup golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Build Artifact
        env:
          BUILD_RELEASE: ${{ inputs.release }}
        run: hack/fyne-cross.sh "${{ inputs.goos }}" "${{ inputs.goarch }}"

      - name: Get artifact file ending
        id: artifact-file-ending
        run: |
          if [ "${{ inputs.goos }}" == "windows" ]; then
            echo "file-ending=zip" >> $GITHUB_OUTPUT
          elif [ "${{ inputs.goos }}" == "linux" ]; then
            echo "file-ending=tar.gz" >> $GITHUB_OUTPUT
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "${{ inputs.name }}_${{ inputs.goos }}-${{ inputs.goarch }}.${{ steps.artifact-file-ending.outputs.file-ending }}"
          path: "fyne-cross/dist/${{  inputs.name }}_${{ inputs.goos }}-${{ inputs.goarch }}.${{ steps.artifact-file-ending.outputs.file-ending }}"
          retention-days: 14
          if-no-files-found: error
