---
name: "Golang lint"

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true

jobs:
  lint:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest
          args: --config=.golangci.yml --timeout 300s
          skip-cache: ${{ !inputs.cache }}
