---
name: "Golang lint"

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true

jobs:
  lint:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --config=.golangci.yml --timeout 300s
          skip-cache: ${{ !inputs.cache }}
