---
name: "Golang unit-tests"

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true
      cmd:
        description: The test command to run
        type: string
        required: false
        default: make test
      coveralls:
        description: Upload coverprofiles to coveralls.io
        type: boolean
        required: false
        default: false
      coverprofile:
        description: The file containing the coverprofile
        type: string
        required: false
        default: coverprofile.out

jobs:
  unit-tests:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /home/runner/.cache/go-build
            C:\Users\runneradmin\AppData\Local\go-build
          key: golang-unit-tests

      - name: Run tests
        run: ${{ inputs.cmd }}

      - name: Coveralls
        if: ${{ inputs.coveralls }}
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          file: "${{ inputs.coverprofile }}"
          format: "golang"
