---
name: Golang build

on:
  workflow_call:
    inputs:
      release:
        description: "Release version"
        type: string
        required: false
        default: "dev"
      goos:
        description: "Target os"
        type: string
        required: false
      goarch:
        description: "Target arch"
        type: string
        required: false
      cache:
        description: Persist go-build cache between runs
        type: boolean
        required: false
        default: true
      artifact:
        description: Artifact(s) to upload
        type: string
        required: false
        default: ""
      artifact-name:
        description: The name under which the artifact will be uploaded
        type: string
        required: false
        default: ""
      cmd:
        description: The test command to run
        type: string
        required: false
        default: make

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /home/runner/.cache/go-build
          key: "go-build-${{ inputs.goos }}-${{ inputs.goarch }}"

      - name: Setup golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 'stable'
          cache-dependency-path: go.sum

      - name: Build Artifact
        env:
          RELEASE_VERSION: ${{ inputs.release }}
          GOOS: "${{ inputs.goos }}"
          GOARCH: "${{ inputs.goarch }}"
        run: ${{ inputs.cmd }}

      - name: Upload Artifact
        if: ${{ inputs.artifact != '' && inputs.artifact-name != '' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "${{ inputs.artifact-name }}"
          path: "${{ inputs.artifact }}"
          retention-days: 14
          if-no-files-found: error
