---
name: Gosec

on:
  workflow_call:
    inputs:
      os:
        description: The os used for the runner
        type: string
        required: false
        default: "ubuntu-latest"
      args:
        description: Arguments to pass to Gosec, will be added after the ones needed for uploading to CodeQL
        type: string
        required: false
        default: './...'


jobs:
  gosec:
    runs-on: "${{ inputs.os }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run Gosec Security Scanner
        uses: securego/gosec@15d5c61e866bc2e2e8389376a31f1e5e09bde7d8 # v2.22.9
        with:
          args: "-no-fail -fmt sarif -out results.sarif ${{ inputs.args }}"

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@3599b3baa15b485a2e49ef411a7a4bb2452e7f93 # v3.30.5
        with:
          sarif_file: results.sarif
          category: security
