name: "Kubernetes update-components"

on:
  workflow_call:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Setup Flux
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2.7.5

      - name: Check for updates
        run: |
          make update

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
            token: "${{ steps.app-token.outputs.token }}"
            branch: update-components
            committer: bot-ahsoka[bot] <bot-ahsoka[bot]@users.noreply.github.com>
            author: bot-ahsoka[bot] <bot-ahsoka[bot]@users.noreply.github.com>
            commit-message: |
              Update components to latest version

              Created via `make update`

            signoff: true
            title: "Update components to latest version"
            body: |
              Created via `make update`
            labels: update,flux
