---
name: "Kubernetes Helmrepository Sync"

on:
  workflow_call:
    inputs:
      cluster:
        description: Name of the cluster
        type: string
        required: false
        default: "${{ github.event.repository.name }}"
      kubeconfig:
        description: Name of the secret containing the cluster specific kubeconfig
        type: string
        required: false
        default: "KUBECONFIG"

jobs:
  sync:
    runs-on: ["arc-${{ inputs.cluster }}"]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Write kubeconfig
        id: kubeconfig
        uses: timheuer/base64-to-file@adaa40c0c581f276132199d4cf60afa07ce60eac # v1.2
        with:
          encodedString: "${{ secrets[inputs.kubeconfig] }}"
          fileName: kubeconfig

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: kubernetes/${{ inputs.cluster }}/**/helmrelease.yaml

      - name: Sync HelmRepository
        env:
          KUBECONFIG: "${{ steps.kubeconfig.outputs.filePath }}"
        shell: bash
        run: |
          declare -a repos=()
          for file in ${{ steps.changed-files.outputs.all_changed_and_modified_files }}; do
            repoName="$(yq eval '.spec.chart.spec.sourceRef.name' "${file}")"
            repoNamespace="$(yq eval '.spec.chart.spec.sourceRef.namespace' "${file}")"
            repos+=("${repoName}:${repoNamespace}")
          done
          repos=($(for r in ${repos[@]}; do echo $r; done | sort -u))
          for repo in ${repos[@]}; do
            flux --namespace "${repo##*:}" reconcile source helm "${repo%%:*}"
          done
