---
name: Prune ghcr.io

on:
  workflow_call:
    inputs:
      app:
        description: "The name of the app"
        type: string
        required: true
      keep:
        description: "The number of versions to keep"
        type: string
        default: "50"
        required: true
      ignore-versions:
        description: "Versions to ignore"
        type: string
        default: "(latest|rolling)"
        required: false
      runs-on:
        description: The type of machine to run the job on
        type: string
        required: false
        default: ubuntu-latest

jobs:
  prune:
    runs-on: "${{ inputs.runs-on }}"
    permissions:
      packages: write

    steps:
      - uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1.0.16
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          packages: "${{ inputs.app }}"
          exclude-tags: "${{ inputs.ignore-versions }}"
          use-regex: true
          keep-n-untagged: "${{ inputs.keep }}"
          keep-n-tagged: "${{ inputs.keep }}"
