---
name: Release

on:
  workflow_call:
    inputs:
      draft:
        description: "Create draft release"
        type: boolean
        default: true
      prerelease:
        description: "Mark as prerelease"
        type: boolean
        default: false
      update:
        description: "Update existing release"
        type: boolean
        default: false
      tag:
        description: "Release tag to use"
        type: string
        required: true
      release-artifacts:
        description: "Artifacts to append, downloaded artifacts are found in release/. Takes comma separated list"
        type: string
        required: false
        default: "release/*"
      artifacts:
        description: "Artifacts to download. Artifacts will be downloaded into release/"
        type: string
        required: false
        default: "*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      COSIGN_PRIVATE_KEY: "${{ secrets.COSIGN_PRIVATE_KEY }}"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: release
          pattern: "${{ inputs.artifacts }}"
          merge-multiple: true

      - name: Install Cosign
        if: ${{ env.COSIGN_PRIVATE_KEY != '' }}
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Sign artifacts with Cosign
        if: ${{ env.COSIGN_PRIVATE_KEY != '' }}
        env:
          COSIGN_PASSWORD: "${{ secrets.COSIGN_PASSWORD }}"
        run: |
          set -ex
          pushd release
          for file in *; do
            cosign sign-blob "${file}" --bundle "${file}.sigstore.json" --key env://COSIGN_PRIVATE_KEY --yes
            chmod 644 "${file}.sigstore.json"
          done
          popd

      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: ${{ inputs.update }}
          artifacts: "${{ inputs.release-artifacts }}"
          artifactErrorsFailBuild: true
          draft: ${{ inputs.draft }}
          generateReleaseNotes: true
          tag: "${{ inputs.tag }}"
          prerelease: ${{ inputs.prerelease }}
