---
name: "Validate Renovate Config"

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main"]
    paths:
      - .github/renovate-bot.json5
      - .github/renovate.json5
  pull_request:
    branches: ["main"]
    paths:
      - .github/renovate-bot.json5
      - .github/renovate.json5
      - .github/workflows/renovate-config-validator.yaml

env:
  RENOVATE_BOT_CONFIG_FILE: .github/renovate-bot.json5
  RENOVATE_REPO_CONFIG_FILE: .github/renovate.json5

jobs:
  validate-renovate-config:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Validate bot config
        uses: docker://renovate/renovate:41.168.3
        with:
          args: renovate-config-validator --strict "${{ env.RENOVATE_BOT_CONFIG_FILE }}"

      - name: Validate repository
        uses: docker://renovate/renovate:41.168.3
        with:
          args: renovate-config-validator --strict "${{ env.RENOVATE_REPO_CONFIG_FILE }}"
