---
name: Renovate

on:
  workflow_call:
    inputs:
      dry-run:
        description: dry-run
        type: string
        default: "null"
        required: false
      log-level:
        description: Set log-level
        type: string
        default: debug
        required: false
      config-file:
        description: Config file used by renovate
        type: string
        default: .github/renovate-bot.json5
        required: false
      cache:
        description: Persist renovate cache between runs
        type: boolean
        required: false
        default: true

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: "/tmp/renovate/cache"
          key: "renovate-repo"

      - name: Fix cache permissions
        run: |
          if [ -d /tmp/renovate ]; then
            echo "Fixing cache permissions"
            sudo chown -R 12021:0 /tmp/renovate/
          fi

      - name: Renovate
        uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809 # v44.2.4
        env:
          LOG_LEVEL: "${{ inputs.log-level }}"
          RENOVATE_DRY_RUN: "${{ inputs.dry-run }}"
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: "${{ github.repository }}"
          RENOVATE_PLATFORM: github
          RENOVATE_PLATFORM_COMMIT: false
          RENOVATE_REPOSITORY_CACHE: ${{ inputs.cache || 'enabled' }}
        with:
          configurationFile: "${{ inputs.config-file }}"
          token: "${{ steps.app-token.outputs.token }}"
