---
name: Renovate

on:
  workflow_call:
    inputs:
      dry-run:
        description: dry-run
        type: string
        default: "null"
        required: false
      log-level:
        description: Set log-level
        type: string
        default: debug
        required: false
      config-file:
        description: Config file used by renovate
        type: string
        default: .github/renovate-bot.json5
        required: false
      cache:
        description: Persist renovate cache between runs
        type: boolean
        required: false
        default: true
      runs-on:
        description: The type of machine to run the job on
        type: string
        required: false
        default: ubuntu-latest

jobs:
  renovate:
    runs-on: "${{ inputs.runs-on }}"
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Cache
        if: ${{ inputs.cache }}
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: "/tmp/renovate/cache"
          key: "renovate-repo"

      - name: Fix cache permissions
        run: |
          if [ -d /tmp/renovate ]; then
            echo "Fixing cache permissions"
            sudo chown -R 12021:0 /tmp/renovate/
          fi

      - name: Renovate
        uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        env:
          LOG_LEVEL: "${{ inputs.log-level }}"
          RENOVATE_DRY_RUN: "${{ inputs.dry-run }}"
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: "${{ github.repository }}"
          RENOVATE_PLATFORM: github
          RENOVATE_PLATFORM_COMMIT: false
          RENOVATE_REPOSITORY_CACHE: ${{ inputs.cache || 'enabled' }}
        with:
          configurationFile: "${{ inputs.config-file }}"
          token: "${{ steps.app-token.outputs.token }}"
