---
name: "Run Script"

on:
  workflow_call:
    inputs:
      cmd:
        description: The test command to run
        type: string
        required: true
      coverprofile:
        description: The file containing the coverprofile, will upload to coveralls.io when set
        type: string
        required: false
        default: ""
      artifact:
        description: Artifact(s) to upload
        type: string
        required: false
        default: ""
      artifact-name:
        description: The name under which the artifact will be uploaded
        type: string
        required: false
        default: ""
      architecture:
        description: The architecture to use for the runner
        type: string
        required: false
        default: "amd64"

jobs:
  run-script:
    runs-on: "${{ inputs.architecture == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}"
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run script
        run: ${{ inputs.cmd }}
        shell: bash

      - name: Coveralls
        if: ${{ inputs.coverprofile != '' }}
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          file: "${{ inputs.coverprofile }}"
          format: "golang"

      - name: Upload Artifact
        if: ${{ inputs.artifact != '' && inputs.artifact-name != '' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "${{ inputs.artifact-name }}"
          path: "${{ inputs.artifact }}"
          retention-days: 14
          if-no-files-found: error
