---
name: "Rust Audit Check"

on:
  workflow_call:
    inputs:
      ignore:
        description: A comma-separated list of advisory IDs to ignore
        type: string
        required: false
        default: ""

jobs:
  audit:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998 # v2.0.0
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          ignore: "${{ inputs.ignore }}"
