---
name: "Sync Files"

on:
  workflow_dispatch:
  workflow_call:
  schedule:
    - cron: "35 5 * * 0"
  push:
    branches: ["main"]
    paths:
      - .github/sync.yaml
      - .github/ISSUE_TEMPLATE
      - .github/release.yaml
      - .editorconfig
      - .github/renovate-bot.json5
      - .vscode/*
      - .golangci.yml

jobs:
  sync:
    name: Sync Files
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"
          owner: "${{ github.repository_owner }}"

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@8b92be3375cf1d1b0cd579af488a9255572e4619 # v1.21.1
        with:
          GH_INSTALLATION_TOKEN: "${{ steps.app-token.outputs.token }}"
          CONFIG_PATH: ".github/sync.yaml"
          ASSIGNEES: "heathcliff26"
          COMMIT_EACH_FILE: "false"
          GIT_EMAIL: "<bot-ahsoka[bot]@users.noreply.github.com>"
          GIT_USERNAME: "bot-ahsoka[bot]"
