---
name: "Sync Files"

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main"]
    paths:
      - .github/sync.yaml
      - .editorconfig
      - .github/renovate-bot.json5
      - .vscode/*
      - .golangci.yml

jobs:
  sync:
    name: Sync Files
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"
          owner: "${{ github.repository_owner }}"

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@8b92be3375cf1d1b0cd579af488a9255572e4619 # v1.21.1
        with:
          GH_INSTALLATION_TOKEN: "${{ steps.app-token.outputs.token }}"
          CONFIG_PATH: ".github/sync.yaml"
          ASSIGNEES: "heathcliff26"
          COMMIT_EACH_FILE: "false"
          GIT_EMAIL: "<bot-ahsoka[bot]@users.noreply.github.com>"
          GIT_USERNAME: "bot-ahsoka[bot]"
