---
name: "Tag"

on:
  workflow_call:
    inputs:
      tag:
        description: "Tag to create"
        type: string
        required: true
      overwrite:
        description: "Overwrite existing tag"
        type: boolean
        required: false
        default: false

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Tag
        run: |
          set -ex
          git tag "${{ inputs.tag }}"
          if [ "${{ inputs.overwrite }}" = "true" ]; then
            git push origin "${{ inputs.tag }}" --force
          else
            git push origin "${{ inputs.tag }}"
          fi
