---
name: "Tag"

on:
  workflow_call:
    inputs:
      tag:
        description: "Tag to create"
        type: string
        required: true
      overwrite:
        description: "Overwrite existing tag"
        type: boolean
        required: false
        default: false

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Tag
        run: |
          set -ex
          git tag "${{ inputs.tag }}"
          if [ "${{ inputs.overwrite }}" = "true" ]; then
            git push origin "${{ inputs.tag }}" --force
          else
            git push origin "${{ inputs.tag }}"
          fi
