---
name: "Test cover report"

on:
  workflow_call:
    inputs:
      script:
        description: The script to run, relative to project root
        type: string
        required: false
        default: hack/coverprofile.sh
      coveralls:
        description: Upload coverprofiles to coveralls.io
        type: boolean
        required: false
        default: true
      coverprofile:
        description: The file containing the coverprofile
        type: string
        required: false
        default: lcov.info

jobs:
  generate-reports:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout current branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Generate reports
        run: |
          ${{ inputs.script }}

      - name: Coveralls
        if: ${{ inputs.coveralls }}
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          file: "${{ inputs.coverprofile }}"
          format: "lcov"

      - name: Checkout gh-pages
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
        with:
          token: "${{ steps.app-token.outputs.token }}"
          ref: "gh-pages"
          path: "gh-pages"

      - name: Copy files to gh-pages
        if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
        run: |
          set -e
          cp -r ${GITHUB_WORKSPACE}/target/coverage/html/* ${GITHUB_WORKSPACE}/gh-pages/

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
        if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
        with:
          commit_message: |
            Updated go coverprofiles

            Commit: ${{ github.sha }}
          commit_options: "--signoff"
          repository: "./gh-pages"
          commit_user_name: "bot-ahsoka[bot]"
          commit_user_email: "<bot-ahsoka[bot]@users.noreply.github.com>"
          commit_author: "bot-ahsoka[bot] <bot-ahsoka[bot]@users.noreply.github.com>"
          skip_dirty_check: false
          skip_fetch: true
          skip_checkout: true

