---
name: "Test cover report"

on:
  workflow_call:
    inputs:
      script:
        description: The script to run, relative to project root
        type: string
        required: false
        default: hack/coverprofile.sh
      coveralls:
        description: Upload coverprofiles to coveralls.io
        type: boolean
        required: false
        default: true
      coverprofile:
        description: The file containing the coverprofile
        type: string
        required: false
        default: lcov.info
      additional-packages:
        description: Additional packages to install
        type: string
        required: false
        default: ""

jobs:
  generate-reports:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout current branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Install additional dependencies
        if: ${{ inputs.additional-packages != '' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ inputs.additional-packages }}
        shell: bash

      - name: Generate reports
        run: |
          ${{ inputs.script }}

      - name: Coveralls
        if: ${{ inputs.coveralls }}
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          file: "${{ inputs.coverprofile }}"
          format: "lcov"

      - name: Checkout gh-pages
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
        with:
          token: "${{ steps.app-token.outputs.token }}"
          ref: "gh-pages"
          path: "gh-pages"

      - name: Copy files to gh-pages
        if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
        run: |
          set -e
          cp -r ${GITHUB_WORKSPACE}/target/coverage/html/* ${GITHUB_WORKSPACE}/gh-pages/

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
        with:
          commit_message: |
            Updated go coverprofiles

            Commit: ${{ github.sha }}
          commit_options: "--signoff"
          repository: "./gh-pages"
          commit_user_name: "bot-ahsoka[bot]"
          commit_user_email: "<bot-ahsoka[bot]@users.noreply.github.com>"
          commit_author: "bot-ahsoka[bot] <bot-ahsoka[bot]@users.noreply.github.com>"
          skip_dirty_check: false
          skip_fetch: true
          skip_checkout: true

